:root {
  --ini25: #1841c7;
  --ini24-20: #1a801f;
  --ini19-15: #bedf2d;
  --ini14-10: #be9216;
  --ini9-5: #dd6413;
  --ini5: #dd1414;

  --defeated: #b32019;

  --overlay-background-color: #eeede0c7;
  --overlay-text-color: #860d07;
  --overlay-heal-text-color: #072986;

  --tatic-activity-card: #f8f4f1;

  --ldnd5e-color-re-1: #3466db;
  --ldnd5e-color-re-2: #314d8f;
  --ldnd5e-color-re-3: #273165;
}

/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.window-app .window-content .dialog-buttons-title {
  text-align: center;
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1px;
  border: 2px groove #eeede0;
  border-radius: 5px;
  border-collapse: collapse;
}

.window-app .window-content .dialog-buttons-title div:last-child {
  border-left: 2px groove #eeede0;
  align-self: center;
}

.window-app .window-content .dialog-buttons-title div.no-border {
  border: 0;
}

.window-app .window-content .dialog-buttons-title .repair-click label:hover {
  color: #000;
  text-shadow: 0 0 10px red;

}

.window-app .window-content .dialog-buttons-title .repair-click label:hover {
  cursor: pointer;
}

.window-app .window-content .dialog-buttons-title .repair-click i {
  font-size: 12px;
  color: var(--color-shadow-highlight);
}

.window-app .window-content .dialog-buttons-title .repair-click i.not-smith {
  color: #7a7971;
}

:is(#fatigue-roll, #ad-dialog).dialog-content .form-group {
  margin-bottom: 2px;
}

:is(#fatigue-roll, #ad-dialog).dialog-content .form-group input:not([type=range]) {
  background: var(--input-background-color);
}

.window-app .window-content .dialog-content .confirmAR {
  font-weight: bolder;
}

.window-app .window-content .dialog-content .obsAR {
  padding-bottom: 2px;
  border-bottom: 2px groove;
  font-style: italic;
}

.window-app .window-content .dialog-content .pcs-conteiner {
  background: var(--dnd5e-color-parchment);
}

.window-app .window-content .dialog-content .pcs-conteiner,
.window-app .window-content .dialog-content .pc-item {
  border-radius: 4px;
  border: 1px solid var(--dnd5e-color-gold);
  box-shadow: 0 0 6px var(--dnd5e-shadow-45);
}

.window-app .window-content .dialog-content .pcs-list {
  padding: 0 1.5em 0 1.5em;
  margin-right: 2px;
  overflow-y: auto;
}

.window-app .window-content .dialog-content .pcs-list .select-all {
  background: linear-gradient(to right, var(--dnd5e-color-hd-1), var(--dnd5e-color-hd-2));
  color: white;
  border-radius: 4px;
  border: 1px solid var(--dnd5e-color-gold);
  box-shadow: 0 0 6px var(--dnd5e-shadow-45);
}

.window-app .window-content .dialog-content .pc-item {
  background: var(--dnd5e-color-card);
  margin: 0.25em 0;
}

.window-app .window-content .dialog-content .pcs-conteiner .actor-image {
  border: none;
  border-radius: 50%;
  background-color: #c9c9c9;
  flex: 0 0 30px;
  height: 32px;
  width: 32px;
  margin-right: 5px;
}

.window-app .window-content .dialog-content .pcs-conteiner h4 {
  font-family: 'Roboto Slab';
  margin-bottom: 0;
}

.window-content .tab {
  color: var(--main-text-light-color);
}

.combatant.ini25+.token-initiative {
  color: var(--ini25);
}

.combatant.ini24-20 .token-initiative {
  color: var(--ini24-20);
}

.combatant.ini19-15 .token-initiative {
  color: var(--ini19-15);
}

.combatant.ini14-10 .token-initiative {
  color: var(--ini14-10);
}

.combatant.ini9-5 .token-initiative {
  color: var(--ini9-5);
}

.combatant.ini5- .token-initiative {
  color: var(--ini5);
}

.combatant.defeated {
  text-decoration: line-through;
}

.combatant.defeated.ini25+.token-initiative,
.combatant.defeated.ini24-20 .token-initiative,
.combatant.defeated.ini19-15 .token-initiative,
.combatant.defeated.ini14-10 .token-initiative,
.combatant.defeated.ini9-5 .token-initiative,
.combatant.defeated.ini5- .token-initiative {
  color: var(--defeated);
}

/* ----------------------------------------- */
/*  All ldnd5e Apps                           */
/* ----------------------------------------- */
.ldnd5e {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
  /* Tags */
}

.ldnd5e .window-content {
  font-size: 13px;
}

.ldnd5e .window-content .main-control {
  overflow: scroll;
}

.ldnd5e .window-content .reacao-agil,
.ldnd5e .window-content .pcs-list {
  flex: 100%;
}

.ldnd5e:not(.sheet) input[type="text"],
.ldnd5e:not(.sheet) input[type="number"],
.ldnd5e:not(.sheet) select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}

.ldnd5e input[type="text"]:hover,
.ldnd5e input[type="number"]:hover,
.ldnd5e input[type="checkbox"]:hover,
.ldnd5e input[type="text"]:focus,
.ldnd5e input[type="number"]:focus,
.ldnd5e input[type="checkbox"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}

.ldnd5e input:disabled,
.ldnd5e select:disabled,
.ldnd5e textarea:disabled {
  color: #4b4a44;
  border: 1px solid transparent !important;
  outline: none !important;
}

.ldnd5e input:disabled:hover,
.ldnd5e select:disabled:hover,
.ldnd5e textarea:disabled:hover,
.ldnd5e input:disabled:focus,
.ldnd5e select:disabled:focus,
.ldnd5e textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}

.ldnd5e.dnd5e button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}

.ldnd5e button.config-control {
  flex: 0 0 4%;
}

.ldnd5e button.config-control i {
  margin: 0;
}

.ldnd5e.dnd5e2 button.config-control {
  background: #8f1515;
  color: var(--dnd5e-color-parchment);
  border-radius: 100%;
  font-size: x-large;
}

.ldnd5e .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}

.repair-message p {
  font-weight: bold;
}

.chat-message .message-content .extra-conditions {
  margin-top: 0px;
  margin: 3px;
  font-size: var(--font-size-10);
  line-height: 1;
}

.chat-message .message-content .card-footer li {
  flex: unset;
}

.chat-message .message-content:has(damage-application) .card-footer li {
  font-size: var(--font-size-14);
}

.chat-message .message-content .extra-conditions a {
  cursor: default;
}

.chat-message .message-content .extra-conditions a:hover {
  text-shadow: none;
}

.chat-message .message-content .extra-conditions span {
  padding-left: 5px;
  font-weight: bold;
}


.ldnd5e .form-header {
  margin: 0 0 0.25em 0;
  padding: 2px 0;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}

.ldnd5e .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

/* ----------------------------------------- */
/*  Hit Dice Config Sheet Specifically       */
/* ----------------------------------------- */
.ldnd5e.hd-config .form-group button.increment,
.ldnd5e.hd-config .form-group button.decrement {
  flex: 0 0 1rem;
  line-height: 1rem;
}

.ldnd5e.hd-config .form-group button.decrement {
  margin-right: 0;
}

.ldnd5e.hd-config .form-group span.sep {
  margin: 0;
}

.ldnd5e.hd-config .form-group input {
  flex: 0 0 2rem;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}

/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.ldnd5e.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Notifications                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Active Effects                           */
  /* ----------------------------------------- */
}

.ldnd5e.app .window-content {
  overflow-y: hidden;
  padding: 5px;
  font-size: 13px;
  color: #191813;
  background-image:
    linear-gradient(180deg, rgba(255, 255, 255, 0) 35%, var(--dnd5e-color-parchment) 70%),
    url(ui/armor-damage-banner.jpg);
  background-repeat: no-repeat;
  background-position: top left;
}

.ldnd5e.app .window-content form {
  height: 100%;
  overflow: hidden;
}

.ldnd5e.app .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}

.ldnd5e.app input[type="text"],
.ldnd5e.app input[type="number"] {
  background: none;
  border: 1px solid transparent;
}

.ldnd5e.app input[type="text"]:hover,
.ldnd5e.app input[type="number"]:hover,
.ldnd5e.app input[type="text"]:focus,
.ldnd5e.app input[type="number"]:focus {
  border: 1px solid #111;
}

.ldnd5e.app select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}

.ldnd5e.app .editable .rollable:hover {
  cursor: pointer;
}

.ldnd5e.app .editable h4.rollable:hover,
.ldnd5e.app .editable .rollable:hover>h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}

.ldnd5e.app span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}

.ldnd5e.app .editor {
  height: 100%;
}

.ldnd5e.app .editor .tox-toolbar-overlord,
.ldnd5e.app .editor .tox-toolbar__primary {
  background: none;
}

.ldnd5e.app .warnings,
.ldnd5e.app .info {
  flex: 0 0 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ldnd5e.app .warnings .notification,
.ldnd5e.app .info .notification {
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 13px;
  box-shadow: none;
  padding: 2px 8px;
  margin-bottom: 2px;
}

.ldnd5e.app .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}

.ldnd5e.app .sheet-header .header-details {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}

.ldnd5e.app .sheet-header .header-details .summary select {
  width: 100%;
  height: 100%;
  border: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-weight: 100;
}

.ldnd5e.app .app-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}

.ldnd5e.app .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}

.ldnd5e.app .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #eeede0;
}

.ldnd5e.app .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}

.ldnd5e.app .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}

.ldnd5e.app .sheet-header .summary li:last-child {
  border-right: none;
}

.ldnd5e.app .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}

.ldnd5e.app .sheet-navigation .item {
  flex: 1;
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}

.ldnd5e.app .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}

.ldnd5e.app .sheet-navigation .item.config {
  flex: 0;
  border-bottom: none;
}

.ldnd5e.app .sheet-navigation .item.config.active i {
  color: #44191A;
}

.ldnd5e.app .sheet-body {
  flex: 1;
  overflow: hidden;
}

.ldnd5e.app .filter-list {
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  max-width: 70%;
}

.ldnd5e.app .filter-list .filter-icon {
  flex: none;
  font-size: 14px;
  color: #7a7971;
}

.ldnd5e.app .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid #b5b3a4;
  white-space: nowrap;
}

.ldnd5e.app .filter-list .filter-item:last-child {
  margin: 0;
}

.ldnd5e.app .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid #7a7971;
}

.ldnd5e.app .filter-list .filter-item.active {
  border-bottom: 3px solid #44191A;
}

.ldnd5e.app .traits {
  margin: 5px 0 0;
}

.ldnd5e.app .traits .trait-selector,
.ldnd5e.app .traits .proficiency-selector {
  flex: 0 0 16px;
  padding: 2px 0;
  color: #999;
  font-size: 10px;
}

.ldnd5e.app .traits .traits-list {
  flex: 0 0 100%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ldnd5e.app .actors-list,
.ldnd5e.app .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}

.ldnd5e.app .actors-list .actor-list,
.ldnd5e.app .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ldnd5e.app .actors-list .actor-name,
.ldnd5e.app .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}

.ldnd5e.app .items-list .item-name h3,
.ldnd5e.app .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.ldnd5e.dnd5e2.app .items-list .item-name h3,
.ldnd5e.dnd5e2.app .items-list .item-name h4 {
  overflow-x: unset;
}

.ldnd5e.app .items-list .item-name h4.item-desequip {
  color: #c9c7b8;
  text-decoration: line-through;
}

.ldnd5e.app.actor .items-list .item-name h4.item-desequip {
  color: #4b4a44;
  text-decoration: line-through;
}

.ldnd5e.app .items-list .item-controls {
  flex: 0 0 60px;
  justify-content: space-between;
}

.ldnd5e.app .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
}

.ldnd5e.app .actors-list .actor,
.ldnd5e.app .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.ldnd5e.app .actors-list .actor:last-child,
.ldnd5e.app .items-list .item:last-child {
  border-bottom: none;
}

.ldnd5e.app .actors-list .actor .actor-name,
.ldnd5e.app .items-list .item .item-name {
  color: #191813;
}

.ldnd5e.app .items-list .item .item-name .actor-portrait,
.ldnd5e.app .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.ldnd5e.dnd5e2.app .items-list .item .item-name .item-image:not(.owner-image) {
  width: 32px;
  height: 32px;
  object-fit: cover;
  background-color: var(--dnd5e-color-light-gray);

  border: 2px solid var(--dnd5e-color-gold);
  box-shadow: 0 0 4px var(--dnd5e-shadow-45);
  border-radius: 0;
  background-color: var(--dnd5e-color-light-gray);
}

.ldnd5e.app .items-list .item .item-name .item-detail.lan-value {
  border: 0;
}

.ldnd5e.app.actor .items-list .item .item-name .item-detail.lan-value {
  color: var(--main-text-light-color);
}

.ldnd5e.app .items-list .item .item-name .actor-portrait,
.ldnd5e.app .items-list .item .item-name .item-image.owner-image {
  border-radius: 50%;
  background-color: #c9c9c9;
  background-size: contain;
}

.ldnd5e.dnd5e.app .actors-list .actors-header,
.ldnd5e.dnd5e.app .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  border-radius: 5px;
}

.ldnd5e.app .actors-list .actors-header>*,
.ldnd5e.app .items-list .items-header>* {
  font-size: 12px;
  text-align: center;
}

.ldnd5e.app .actors-list .actors-header h3,
.ldnd5e.app .items-list .items-header h3 {
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  border: none;
}

.ldnd5e.app .effects .item .effect-source,
.ldnd5e.app .effects .item .effect-duration,
.ldnd5e.app .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.ldnd5e.app .effects .item .effect-controls {
  border: none;
}

.ldnd5e.dnd5e2 .items-list .items-section.card {
  border-radius: 4px;
  background: var(--dnd5e-color-card);
  box-shadow: 0 0 6px var(--dnd5e-shadow-45);
  border: 1px solid var(--dnd5e-color-gold);
}

.dnd5e2 .items-section li.effect.fixed-effect {
  pointer-events: none;
}

/* ----------------------------------------- */
/*  Company Control Classes                  */
/* ----------------------------------------- */
.ldnd5e.app .company-control .company-header {
  flex: 0 0 75px;
  text-align: center;
  border-bottom: none;
}

.ldnd5e.app .company-control .company-header h1.charname {
  font-size: 3em;
}

.ldnd5e.app .company-control .attributes {
  flex: 0;
  margin: 0;
}

.ldnd5e.app .company-control .ability-scores {
  flex: 1;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border: 2px groove #eeede0;
  border-radius: 3px;
}

.ldnd5e.app .company-control .ability-scores .ability {
  height: 70px;
  text-align: center;
  position: relative;
}

.ldnd5e.app .company-control h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 8px 2px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
  white-space: nowrap;
}

.ldnd5e.app .company-control .ability-scores .ability input.ability-score {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}

.ldnd5e.app .company-control .ability-scores .ability .ability-modifiers {
  height: 24px;
  margin: -8px 0 0;
}

.ldnd5e.app .company-control .ability-scores .ability .ability-modifiers span.ability-mod,
.ldnd5e.app .company-control .ability-scores .ability .ability-modifiers span.ability-save {
  flex: 0 0 24px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  border-top: 2px groove #eeede0;
}

.ldnd5e.app .company-control .ability-scores .ability .ability-modifiers span.ability-mod {
  border-right: 2px groove #eeede0;
}

.ldnd5e.app .company-control .ability-scores .ability .ability-modifiers .ability-proficiency {
  line-height: 30px;
}

.ldnd5e.app .company-control .ability-scores .ability .ability-modifiers span.ability-save {
  border-left: 2px groove #eeede0;
}

.ldnd5e.app .company-control .proficiency-toggle {
  color: #b5b3a4;
  font-size: 12px;
}

.ldnd5e.app .company-control .proficient .proficiency-toggle {
  color: #4b4a44;
}

.ldnd5e.app .unit-list ol {
  padding: 0 0 0 0.5em;
}

.ldnd5e.app .unit-list .unit-controls {
  padding: 3px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}

.ldnd5e.app .unit-list .unit-controls:hover {
  cursor: pointer;
}

.ldnd5e.app .unit-list .unit-controls h3 {
  flex: 100;
  text-align: center;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  border: none;
  color: #4b4a44;
  margin: 0%;
}

.ldnd5e.app .unit-list .unit-controls h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}

.ldnd5e.app .unit-list .unit-header .unit-name {
  text-align: center;
  font-size: xxx-large;
}

.ldnd5e.app .unit-list .unit-header .hpbar {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}

.ldnd5e.app .unit-list .unit-header .header-exp {
  height: 60px;
}

.ldnd5e.app .unit-list .unit-header .header-exp .proficiency {
  margin-top: 0.7em;
}

.ldnd5e.app .unit-list .unit-abilities {
  flex: none
}

.ldnd5e.app .unit-list .unit-abilities .unit-scores {
  border: none;
}

.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability {
  border-bottom: 2px groove #eeede0;
}

.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability .unit-ability-mod {
  border-left: 2px groove #eeede0;
}

.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability .unit-ability-proficiency:hover {
  color: #b5b3a4;
  text-shadow: none;
  cursor: default;
}

.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability.proficient .unit-ability-proficiency:hover {
  color: #4b4a44;
}

.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability .unit-ability-save {
  border-right: 2px groove #eeede0;
}

/* ----------------------------------------- */
/*  Military Sheet                           */
/* ----------------------------------------- */
.ldnd5e .attribute-title {
  background-color: var(--dnd5e-color-gold);
}

.ldnd5e .attribute-title.morale {
  left: -10%;
  width: 110%;
  background-color: var(--color-warm-3);
  font-weight: 700;
}

.ldnd5e .attribute-title span {
  width: 100%;
  text-align: center;
  font-weight: normal;
}

.ldnd5e.army .banner {
  position: absolute;
  top: 95px;
  right: 1.65em;
  width: 24px;
  text-align: center;
  font-weight: 700;
  background-color: var(--dnd5e-color-gold);
  box-shadow: -1px 7px 6px var(--dnd5e-color-black);
}

.ldnd5e.army .banner::after {
  content: '';
  position: absolute;
  right: 0%;
  bottom: -10px;
  width: 24px;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid var(--dnd5e-color-gold);
}

.ldnd5e .commander {
  margin-top: 10px;
  box-shadow: 0 0 6px var(--dnd5e-color-black);
}

.ldnd5e .commander .commander-header {
  background: linear-gradient(to right, #491d25, #311b1f);
  display: flex;
  align-items: stretch;
  color: white;
  border-radius: 3px 3px 0 0;
  border-bottom: var(--dnd5e-border-gold);
  padding: 0.5em;
}

.ldnd5e .commander .commander-info {
  display: flex;
  align-items: stretch;
  height: 60px;
  padding: 0.5rem;
  background: var(--dnd5e-background-card);
  border-radius: 0 0 3px 3px;
}

.ldnd5e .commander .commander-info img {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  border: 1px solid var(--color-text-secondary);
}

.ldnd5e .commander .commander-info h4 {
  width: 100%;
  margin: 0;
  align-self: center;
}

.ldnd5e .commander .commander-info button {
  margin-right: 5px;
}

.ldnd5e .commander .commander-info span {
  width: 100%;
  align-self: center;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  color: var(--dnd5e-color-gold);
}

.ldnd5e .commander .commander-info:hover {
  cursor: pointer;
}

.ldnd5e .commander .commander-info:hover h4 {
  text-shadow: 0 0 5px var(--color-shadow-primary);
}

.ldnd5e section.currency {
  padding: 5px;
  justify-content: flex-end;
  flex: 2;
}

.ldnd5e .main-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.ldnd5e .basic-skills {
  flex: 1.5;
  align-self: baseline;
  height: 15em;
}

.ldnd5e .basic-skills .skills {
  height: 100%;
}

.ldnd5e .basic-skills .saves {
  margin-top: 5px;
}

.ldnd5e .basic-skills .saves h3,
.ldnd5e .basic-skills .skills h3 {
  text-transform: uppercase;
  font-size: var(--font-size-11);
  color: var(--dnd5e-color-gold);
  font-weight: bold;
}

.ldnd5e .basic-skills .saves h3 span,
.ldnd5e .basic-skills .skills h3 span {
  padding-left: 3px;
}

.ldnd5e .basic-skills .saves-list,
.ldnd5e .basic-skills .skills-list {
  list-style: none;
}

.ldnd5e .basic-skills .saves-list .save,
.ldnd5e .basic-skills .skills-list .skill {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.ldnd5e .basic-skills .saves-list .save .name,
.ldnd5e .basic-skills .skills-list .skill .name {
  flex: 2;
  font-family: var(--dnd5e-font-roboto);
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
}

.ldnd5e .basic-skills .saves-list .save .name i,
.ldnd5e .basic-skills .skills-list .skill .name i {
  padding-right: 3px;
}

.ldnd5e .basic-skills .saves-list .save .bonus,
.ldnd5e .basic-skills .skills-list .skill .bonus {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: var(--font-size-16);
}

.ldnd5e .basic-skills .saves-list .save .bonus .sign,
.ldnd5e .basic-skills .skills-list .skill .bonus .sign {
  color: var(--dnd5e-color-gold);
}

.ldnd5e .basic-skills .stamina {
  align-self: center;
  margin-top: auto;
  padding-block: 5px;
  width: 10em;
}

.ldnd5e .basic-skills .stamina .stamina-label {
  color: var(--dnd5e-color-gold);
  font-size: var(--font-size-12);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.ldnd5e .basic-skills .stamina .stamina-bar {
  --bar-percentage: 0%;
  border: 1px solid var(--dnd5e-color-gold);
  border-radius: 3px;
  background: black;
  width: 100%;
  height: 8px;
  overflow: hidden;
}

.ldnd5e .basic-skills .stamina .stamina-bar::after {
  content: "";
  height: 100%;
  width: var(--bar-percentage);
  background: var(--dnd5e-color-gold);
  display: block;
}

.ldnd5e.supplies .form-fields {
  display: flex;
  gap: 5px;
}

.ldnd5e.supplies .info-block .army .size {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: var(--font-h5-size);
  color: var(--dnd5e-color-gold);
  margin-bottom: 5px;
}

.ldnd5e.supplies .info-block .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ldnd5e.supplies .info-block .info label {
  text-align: center;
  color: var(--dnd5e-color-beige);
  font-family: var(--dnd5e-font-roboto-slab);
}

.ldnd5e.supplies .info-block .totals {
  flex-direction: row;
  padding: 5px;
  margin-bottom: 5px;
}

.ldnd5e.supplies .info-block .totals .supply {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.ldnd5e.supplies .info-block .totals .supply .value {
  font-size: var(--font-h5-size);
}

.ldnd5e.supplies .info-block .totals .supply .value i {
  color: var(--dnd5e-color-gold);
}

.ldnd5e.supplies .supplies-sources:not(:last-of-type) {
  margin-bottom: 5px;
}

.ldnd5e.supplies .supplies-sources select {
  height: var(--form-field-height);
  background: var(--dnd5e-background-card);
  border: none;
  color: var(--main-text-light-color);
}

.ldnd5e.supplies .supplies-sources button {
  background: transparent;
  border: none;
  color: var(--dnd5e-color-gold);
}

.ldnd5e.supplies .supplies-sources .items-section {
  margin-top: 5px;
}

.ldnd5e.supplies .items-section .empty {
  text-align: center;
  font-style: italic;
  color: var(--dnd5e-color-beige);
}

.ldnd5e.supplies .items-section .item-list {
  overflow-y: scroll;
  max-height: 145px;
}

.ldnd5e.supplies .items-section .item-list .item {
  margin-block: 5px;
  border: none;
}

.ldnd5e.supplies .item-list .item .item-row {
  margin-right: 0.5em;
}

.ldnd5e.supplies .item-list .item .item-name .title {
  font-family: var(--dnd5e-font-roboto-slab);
}

.ldnd5e.supplies .item-list .item .supply-value {
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ldnd5e.supplies .item-list .item .supply-value .value {
  font-weight: bold;
}

.ldnd5e.supplies .item-list .item .supply-value i {
  font-size: var(--font-size-18);
  color: var(--dnd5e-color-gold);
}

.ldnd5e.supplies .item-list .item .item-controls {
  width: 30px;
  align-self: center;
  text-align: center;
  padding: 0;
}

.ldnd5e.supplies .item-list .item .item-controls button {
  font-size: var(--font-size-11);
  color: var(--color-text-light-6);
}

.ldnd5e.sheet.army .meter.supplies .progress::before {
  background: linear-gradient(to right, var(--dnd5e-color-hp-1) 0%, var(--dnd5e-color-hp-2) 100%);
  border-inline-end: var(--border-width) solid var(--dnd5e-color-hp-3);
}

.ldnd5e.sheet.army .meter.supplies .progress.starving::before {
  background: linear-gradient(to right, var(--dnd5e-color-hd-1) 0%, var(--dnd5e-color-hd-2) 100%);
  border-inline-end: var(--border-width) solid var(--dnd5e-color-hd-3);
}

.ldnd5e.sheet.army .meter.reserve .progress.reserve::before {
  background: linear-gradient(to right, var(--ldnd5e-color-re-1) 0%, var(--ldnd5e-color-re-2) 100%);
  border-inline-end: var(--border-width) solid var(--ldnd5e-color-re-3);
}

.ldnd5e.sheet.army .meter.sectioned>.reserve,
.ldnd5e.sheet.army .meter.sectioned>.supplies {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  cursor: var(--cursor-pointer);
}
.ldnd5e.sheet.army .sheet-header .vitals .meter.reserve,
.ldnd5e.sheet.army .sheet-header .vitals .meter.supplies {
  block-size: 20px;
  font-size: var(--font-size-12);
}

.ldnd5e.sheet.army .sheet-header .vitals .reserve .label,
.ldnd5e.sheet.army .sheet-header .vitals .supplies .label {
  padding-inline-start: 12px;
}

.ldnd5e.sheet.army .sheet-header .vitals .reserve .label .config-button,
.ldnd5e.sheet.army .sheet-header .vitals .supplies .label .config-button {
  color: inherit;
  font-size: var(--font-size-10);
  margin-left: auto;
}

.ldnd5e.sheet.army .sheet-header .meter>.reserve>input {
  z-index: 2;
}

.ldnd5e.army .urban-badge,
.ldnd5e.army .starving-badge {
  filter: unset;
  margin: unset;
  text-align: center;
  line-height: 45px;
  background-image: url(ui/starving-badge.webp);
  display: block;
  place-content: unset;
  z-index: 1;
}

.ldnd5e.army .urban-badge {
  background-image: url(ui/level-badge.webp);
}

.ldnd5e.army .urban-badge img {
  position: absolute;
  height: 20px;
  top: 12px;
  left: 12px;
}

.ldnd5e.unit .tatics-list .items-header,
.ldnd5e.company .units-list .items-header,
.ldnd5e.army .companies-list .items-header {
  gap: 5px;
}

.ldnd5e.dnd5e2.unit .tatics-list .items-section.card,
.ldnd5e.dnd5e2.company .units-list .items-section.card,
.ldnd5e.dnd5e2.army .companies-list .items-section.card {
  border: none;
}

.ldnd5e.unit .tatics-list .tatic,
.ldnd5e.company .units-list .unit,
.ldnd5e.army .companies-list .company {
  background: var(--dnd5e-background-card);
}

.ldnd5e.unit .tatics-list .tatic .item-row,
.ldnd5e.company .units-list .unit .item-row,
.ldnd5e.army .companies-list .company .item-row {
  gap: 5px;
}

.ldnd5e.unit .tatics-list .tatic .item-row .item-name:hover,
.ldnd5e.company .units-list .unit .item-row .item-name:hover,
.ldnd5e.army .companies-list .company .item-row .item-name:hover {
  cursor: pointer;
  text-shadow: 0 0 5px var(--color-shadow-primary);
}

.ldnd5e div[data-application-part="body"] {
  padding-inline: 12px;
  height: 100%;
  margin-block: 10px;
}

.ldnd5e.company .hit-points .label {
  justify-content: center;
}

.ldnd5e.army .urban-badge,
.ldnd5e.army .starving-badge,
.ldnd5e.company .prestige-badge {
  position: absolute;
  top: 0em;
  left: 7.5em;
  width: 45px;
  height: 45px;
  font-size: var(--font-size-18);
}

.ldnd5e.company .rest {
  flex: 1;
  justify-items: center;
  margin-bottom: 5px;
}

.ldnd5e.company .rest button {
  width: fit-content;
  display: flex;
  gap: 5px;
  padding-inline: 1em;
}

.ldnd5e.company .moral-badge {
  filter: unset;
  margin: unset;
  position: relative;
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 50px;
  background-image: url(ui/moral-badge.png);
  display: block;
  place-content: unset;
  font-size: var(--font-size-13);
  z-index: 1;
}

.ldnd5e.company .ability-scores {
  margin-top: 5px;
}

.ldnd5e.company .units {
  flex: 3;
}

.ldnd5e.company .units .items-list {
  margin-bottom: 5px;
}

.company.restauration.dialog {
  border: none;
}

.company.restauration.dialog .tatic {
  padding: 5px;
  margin-bottom: 5px;
}

.company.restauration.dialog .tatic .item-header {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 5px;
}

.company.restauration.dialog .tatic .item-header .name {
  font-family: var(--dnd5e-font-roboto-slab);
}

.company.restauration.dialog .tatic .item-header .icon img {
  height: 24px;
}

.company.restauration.dialog .form-fields.rest-activity button {
  font-size: var(--font-size-16);
  --icon-fill: var(--dnd5e-color-gold);
}

.company.restauration.dialog fieldset {
  margin-block: 5px;
}

.company.restauration.dialog button[name="rest"] {
  width: 100%;
}

.ldnd5e.unit .center {
  align-self: center;
}

.ldnd5e.unit .sheet-header .bottom {
  margin-top: auto;
}

.ldnd5e.unit .sheet-header div.document-name {
  text-align: center;
}

.ldnd5e.unit .sheet-header .labels {
  justify-content: center;
  margin-top: 5px;
  height: auto;
}

.ldnd5e.unit .unit-category .badge {
  filter: unset;
  margin: unset;
  position: absolute;
  top: -45px;
  width: 52px;
  height: 52px;
  min-width: unset;
  line-height: 48px;
  font-size: var(--font-size-18);
  z-index: 1;
}

.ldnd5e.unit .unit-category .none-badge {
  background-image: url(ui/categories/vazio.png);
}

.ldnd5e.unit .unit-category .arcanists-badge {
  background-image: url(ui/categories/arcanos.png);
}

.ldnd5e.unit .unit-category .devotees-badge {
  background-image: url(ui/categories/devotos.png);
}

.ldnd5e.unit .unit-category .fighters-badge {
  background-image: url(ui/categories/lutadores.png);
}

.ldnd5e.unit .unit-category .specialists-badge {
  background-image: url(ui/categories/especialistas.png);
}

.ldnd5e.unit .ability-scores {
  display: flex;
  padding: 10px 0;
  font-family: var(--dnd5e-font-roboto);
  position: relative;
  box-shadow: none;
}

.ldnd5e.unit .ability-scores::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  pointer-events: none;
  border-radius: 4px;
  box-shadow: 0 0 6px var(--dnd5e-shadow-45);
}

.ldnd5e.unit .ability-scores .label {
  text-transform: uppercase;
  font-size: var(--font-size-11);
  color: var(--dnd5e-color-gold);
  font-weight: bold;
  z-index: 2;
}

.ldnd5e.unit .ability-scores .mod {
  font-weight: bold;
  color: var(--dnd5e-color-black);
  font-size: var(--font-size-16);
  padding: 3px 0;
  z-index: 2;
}

.ldnd5e.unit .ability-scores .mod input {
  text-align: center;
  background: rgba(0, 0, 0, 0.45);
}

.ldnd5e.unit .ability-scores .sign {
  color: var(--color-text-light-6);
}

.ldnd5e.unit .ability-scores .ability-score {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4px;
  border-right: 1px solid var(--color-border-light-1);
}

.ldnd5e.unit .ability-scores .ability-score:last-child {
  border: none;
}

.ldnd5e.unit .ability-scores .ability-score>img {
  border: none;
  position: absolute;
  object-fit: contain;
  opacity: 0.035;
  margin: 0;
  height: 100%;
  width: 50%;
  z-index: 1;
}

.ldnd5e.unit .items-list {
  margin-top: 5px;
}

.ldnd5e.unit .unit-info {
  padding-block: 5px;
}

.ldnd5e.unit .unit-description {
  flex: 4;
  font-size: var(--font-size-18);
}

.ldnd5e.unit .unit-description .active {
  color: var(--dnd5e-color-gold);
}

.ldnd5e.unit .unit-info .description-tooltip {
  position: absolute;
  height: 25em;
  width: 40em;
  top: 2.5em;
  left: -40em;
  background: url(ui/texture1.webp) no-repeat top center / auto 770px, var(--dnd5e-color-parchment) url(ui/texture2.webp) no-repeat bottom center / auto 300px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: var(--dnd5e-font-roboto-condensed);
  padding: 5px;
  gap: 10px;
  z-index: 20;
  transition: all 0.5s ease-in-out;
}

.ldnd5e.unit .unit-info .description-tooltip.active {
  left: 0;
  transition: all 0.5s ease-in-out;
}

.ldnd5e.unit .unit-info .description-tooltip * {
  color: var(--color-dark-2);
}

.ldnd5e.unit .unit-info .description-tooltip h4 {
  text-align: center;
}


.ldnd5e.unit .unit-info .description-tooltip .edit-description {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.ldnd5e.unit .unit-info .description-tooltip .edit-description.active * {
  color: #491d25;
}

.ldnd5e.unit .unit-info .description-tooltip span {
  border: none;
}

.ldnd5e.unit .unit-info .description-tooltip .flavor {
  font-style: italic;
  text-align: end;
}

.ldnd5e.unit .unit-info .description-tooltip .description {
  font-weight: bold;
  font-size: var(--font-size-14);
}

.ldnd5e.unit .unit-price {
  flex: 1;
  padding: 5px;
  gap: 5px;
}

.ldnd5e.unit .unit-price span:not(.price) {
  flex: 0;
  line-height: 0em;
}

.ldnd5e.unit .unit-price * {
  flex: 1;
  padding-inline: 2px;
}

.ldnd5e.unit .unit-price .price {
  color: var(--dnd5e-color-gold);
  font-size: var(--font-size-14);
  font-family: var(--dnd5e-font-roboto);
  text-align: center;
}

.ldnd5e.unit .tatics-list {
  flex: 3;
  align-self: baseline;
}

.ldnd5e.unit .tatics-list .tatic .trainning {
  font-size: var(--font-h6-size);
}

.ldnd5e.unit .tatics-list .tatic .trainning.active {
  color: var(--dnd5e-color-gold);
}

.ldnd5e .items-list .item-attribute {
  width: 40px;
}

.ldnd5e .items-list .item-controls .always-interactive[data-edit-item] {
  right: 2.1em;
  padding: 0;
}

.ldnd5e .items-list .item-controls .always-interactive {
  position: absolute;
  inset: 0 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 10px 0 5px;
}

.ldnd5e.tatic .attributes .attribute,
.ldnd5e.tatic .main-recovery button {
  width: 1.75em;
  height: 1.75em;
  background-color: transparent;
  border: none;
}

.ldnd5e.tatic:has(.editable) .attributes .attribute:hover,
.ldnd5e.tatic:has(.editable) .main-recovery button:hover {
  cursor: pointer;
  text-shadow: 0 0 10px var(--color-shadow-primary);
}

.ldnd5e.tatic .main-recovery .value.active {
  color: var(--dnd5e-color-gold);
}

.ldnd5e.tatic .sheet-header .cr i {
  font-size: var(--font-h6-size);
  color: var(--dnd5e-color-gold);
}

.ldnd5e.tatic .attributes {
  gap: 5px;
}

.ldnd5e.tatic .attributes .attribute {
  width: 1.75em;
  height: 1.75em;
  background-color: transparent;
  border: none;
}

.ldnd5e.tatic .attributes .attribute.active {
  background-color: var(--dnd5e-color-gold);
}

.ldnd5e.tatic .attributes .attribute.prep.active {
  color: #edde0b;
}

.ldnd5e.tatic .attributes .attribute.surp.active {
  color: #ac3b3b;
}

.ldnd5e.tatic .attributes .attribute.reac.active {
  color: #4141ac;
}

.ldnd5e.tatic .attributes .attribute.pers.active {
  color: #60c757;
}

.ldnd5e.tatic .info-block .value .formula:hover {
  cursor: pointer;
  text-shadow: 0 0 10px var(--color-shadow-primary);
}

.application.dnd5e2.dialog.activity.tatic {
  background: url(ui/texture-gray1.webp) no-repeat top left, url(ui/texture-gray2.webp) no-repeat bottom right, var(--dnd5e-color-parchment);
  border: 1px solid var(--dnd5e-color-gold);
}

.dialog.activity.tatic .window-content {
  border-radius: 4px;
  background: var(--tatic-activity-card);
  box-shadow: 0 0 6px var(--dnd5e-shadow-45);
  border: var(--dnd5e-border-gold);
  margin-inline: 2em;
  margin-bottom: 2em;
}

.dialog.activity.tatic .window-content .document-name {
  font-family: var(--dnd5e-font-roboto-slab);
  font-weight: bold;
  font-size: var(--font-size-24);
  text-align: center;
  background: none;
  border: none;
  color: var(--color-dark-5);
}

.dialog.activity.tatic .window-content .document-name:focus {
  box-shadow: none;
}

.dialog.activity.tatic .window-content button.dialog-button,
.dialog.activity.tatic .window-content [data-application-part="configuration"] label {
  color: var(--color-dark-5);
}

.dialog.activity.tatic .window-content button.dialog-button:hover {
  background: var(--tatic-activity-card);
  box-shadow: 0 0 5px var(--color-shadow-primary);
}

.dialog.activity-choice.tatic {
  border: none;
}

.dialog.activity-choice.tatic .window-header {
  margin-bottom: 0;
}

.dialog.activity-choice.tatic .window-content [data-application-part="header"] {
  margin-bottom: 0;
}

.dialog.activity-choice.tatic .window-content h1.window-title {
  inset-inline: 0;
  color: var(--color-text-dark-primary);
  font-family: var(--dnd5e-font-roboto-slab);
  font-weight: bold;
  text-align: center;
  font-size: var(--font-size-24);
  margin-bottom: 0.75em;
}

/* ----------------------------------------- */
/*  Property Attribution                     */
/* ----------------------------------------- */
.property-attribution {
  display: none;
  position: absolute;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  color: #c9c7b8;
  text-align: left;
  z-index: 1;
}

.property-attribution table {
  margin: 0;
  border: 0;
}

.property-attribution table tr {
  background-color: inherit;
}

.property-attribution table td {
  padding: 3px;
}

.property-attribution table tr.total>td {
  font-weight: 600;
  padding-top: 5px;
  border-top: 1px solid #7a7971;
}

.property-attribution table td.attribution-value {
  width: 20%;
  padding-right: 5px;
  text-align: right;
  font-weight: 600;
}

.property-attribution table td::before {
  opacity: 0.6;
}

.property-attribution table td.mode-1::before {
  content: "×";
}

.property-attribution table td.mode-2::before {
  content: "+";
}

.property-attribution table td.mode-2.negative::before {
  content: "−";
  margin-right: -1px;
}

.property-attribution table td.mode-3::before {
  content: "↓";
}

.property-attribution table td.mode-4::before {
  content: "↑";
}

/* ----------------------------------------- */
/*  Actor Type Config Sheet Specifically     */
/* ----------------------------------------- */
.actor-type .trait-list {
  display: flex;
  flex-wrap: wrap;
}

.actor-type .trait-list li {
  flex-basis: 50%;
  flex-grow: 1;
}

.actor-type .trait-list li.form-group {
  flex-basis: 100%;
}

.actor-type label.radio {
  display: flex;
  flex: auto;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}

.actor-type label.radio>input[type="radio"] {
  margin: 0 5px 0 0;
}

.actor-type li.custom-type input[type="radio"] {
  display: none;
}

/* ----------------------------------------- */
/*  Armor Config Sheet Specifically          */
/* ----------------------------------------- */
.ldnd5e.actor-armor-config .ac-field input {
  font-size: 3em;
  text-align: center;
}

/* ----------------------------------------- */
/*  Add Feature Prompt Specifically          */
/* ----------------------------------------- */
.ldnd5e.select-items-prompt .dialog-content {
  margin-bottom: 1em;
}

.ldnd5e.select-items-prompt .items-list {
  margin-top: 0.5em;
}

.ldnd5e.select-items-prompt .item-name>label,
.ldnd5e.select-items-prompt .item-image,
.ldnd5e.select-items-prompt input {
  cursor: pointer;
}

.ldnd5e.select-items-prompt .item-name>label {
  align-items: center;
}

.ldnd5e.select-items-prompt .window-content {
  max-height: 90vh;
  overflow-y: auto;
}

.ldnd5e.app.window-app {}

.ldnd5e.app.window-app .config-button {
  color: #4b4a44;
  right: -6px;
  top: -3px;
  font-size: 10px;
  font-weight: normal;
}

.ldnd5e.app.window-app .tab.reacao-agil,
.ldnd5e.app.window-app .tab.pcs-list {
  overflow-y: hidden;
}

.ldnd5e.app.window-app .inventory-list {
  padding: 2px 5px;
}

.ldnd5e.dnd5e2.app.window-app .inventory-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: inherit;
}

.ldnd5e.app.window-app.actor .inventory-list .item .item-name {
  cursor: default;
}

.ldnd5e.app.window-app .inventory-list .npc-header .npc-name,
.ldnd5e.app.window-app .inventory-list .item .item-name .ar-control,
.ldnd5e.app.window-app .tab:not(.pcs-list) .inventory-list .item .item-name .item-image,
.ldnd5e.app.window-app .inventory-list .item .item-detail.ar-control,
.ldnd5e.app.window-app .inventory-list .item .item-detail.full-repair-control,
.ldnd5e.app.window-app .inventory-list .item .item-detail.dl-control,
.ldnd5e.app.window-app .inventory-list .item .item-name .item-image.owner-image {
  cursor: pointer;
}

.ldnd5e.app.window-app .inventory-list .npc-header .npc-name:hover,
.ldnd5e.app.window-app .inventory-list .item .item-name .ar-control:hover,
.ldnd5e.app.window-app .inventory-list .item .item-detail.ar-control:hover,
.ldnd5e.app.window-app .inventory-list .item .item-detail.full-repair-control:hover,
.ldnd5e.app.window-app .inventory-list .item .item-detail.dl-control:hover {
  color: #000;
  text-shadow: 0 0 10px red;
}

.ldnd5e.app.window-app .inventory-list .item .item-detail.dl-control.half-dl {
  color: #44191A;
  font-weight: bold;
}

.ldnd5e.app.window-app .inventory-list .item .item-detail.item-desequip {
  color: #c9c7b8;
  text-decoration: line-through;
}

.ldnd5e.app.window-app.actor .inventory-list .item .item-detail.item-desequip {
  color: #4b4a44;
  text-decoration: line-through;
}

.ldnd5e.app.window-app .inventory-list .actor-detail,
.ldnd5e.app.window-app .inventory-list .item-detail {
  flex: 0 0 70px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}

.ldnd5e.dnd5e2.app.window-app .inventory-list .header .item-detail {
  border-right: none;
}

.ldnd5e.app.window-app .inventory-list .actor-detail:last-child,
.ldnd5e.app.window-app .inventory-list .item-detail:last-child {
  border-right: none;
}

.ldnd5e.app.window-app .inventory-list .header .item-detail.owner-portrait {
  flex: 0 0 47px;
}

.ldnd5e.app.window-app .inventory-list .item-detail.lan-title {
  border-right: 0;
}

.ldnd5e.app.window-app .inventory-list .actor-detail.total-penalty,
.ldnd5e.app.window-app .inventory-list .item-detail.total-damage,
.ldnd5e.app.window-app .inventory-list .item-detail.total-exhaust {
  font-size: 14px;
  font-weight: bolder;
}

.ldnd5e.app.window-app .inventory-list .item-list .items-header .item-name {
  font-size: small;
  font-style: italic;
  font-variant-caps: small-caps;
  font-weight: bold;
  padding-left: 2px;
}

.ldnd5e.app.window-app .inventory-list .npc-summary {
  transition: height .5s ease;
  overflow: hidden;
}

.ldnd5e.app.window-app .inventory-list .npc-header {
  height: 55px;
}

.ldnd5e.app.window-app .inventory-list .npc-header .npc-image {
  flex: 0 0 30px;
  height: 30px;
  width: 30px;

  background-size: 30px;
}

.ldnd5e.app.window-app .inventory-list .item-list .item-name>h5.action-label {
  margin: 0;
  color: var(--main-text-light-color);
}

.ldnd5e.app.window-app .inventory-list .action-detail {
  border-left: none;
}

.ldnd5e.app.window-app .inventory-list .action-detail {
  flex: 0 0 100px;
  font-size: x-small;
}

.ldnd5e.app.window-app .inventory-list .action-detail {
  flex: 0 0 100px;
  font-size: x-small;
}

.ldnd5e.app.window-app .inventory-list .item-controls {
  flex: 0 0 44px;
}

.ldnd5e.app.window-app .inventory-list .item .action-detail {
  position: relative;
  height: 30px;
  line-height: 30px;
}

.ldnd5e.app.window-app .inventory-list .item .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--overlay-background-color);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .25s ease;

  padding: 0 2px;
  border-radius: 0 0 2px 2px;
  text-align: center;
  align-items: center;
  line-height: 30px;
  color: var(--overlay-text-color);
}

.ldnd5e.app.window-app .inventory-list .item .overlay.healing {
  color: var(--overlay-heal-text-color);
}

.ldnd5e.app.window-app .inventory-list .item .action-detail:hover .overlay {
  bottom: 0;
  height: 100%;
}

/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.ldnd5e.dnd5e.chat-card {
  font-style: normal;
  font-size: 12px;
}

.ldnd5e.dnd5e.chat-card .ad-card-header,
.ldnd5e.dnd5e.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}

.ldnd5e.dnd5e.chat-card .ad-card-header img,
.ldnd5e.dnd5e.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}

.ldnd5e.dnd5e.chat-card .roll-group-card-header h3,
.ldnd5e.dnd5e.chat-card .ad-card-header h3,
.ldnd5e.dnd5e.chat-card .card-header h3 {
  flex: 7;
  margin: 0;
  line-height: 36px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  color: #4b4a44;
}

.ldnd5e.dnd5e.chat-card .card-header h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}

.ldnd5e.chat-card .roll-group-card-header .rollNumber-display,
.ldnd5e.chat-card .ad-card-header .ac-display {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 1.4em;
  line-height: 0.8;
  height: 28px;
  width: 28px;
  margin-top: 5px;
  padding-bottom: 0.2em;
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%
}

.ldnd5e.dnd5e2.chat-card .ad-card-header .ac-display {
  padding: 2px;
  margin-top: 0;
  font-weight: bold;
}

.ldnd5e.dnd5e2.chat-card .ad-card-header span.title {
  font-family: var(--dnd5e-font-roboto-slab);
  font-size: var(--font-size-14);
  font-weight: bold;
  flex: 65%;
}

.ldnd5e.chat-card .card-content {
  margin: 5px 0;
}

.ldnd5e.chat-card .ad-card-header h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
  flex: 65%;
}

.ldnd5e.chat-card .card-content>* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.ldnd5e.chat-card .damage-content {
  font-weight: 600;
  font-style: italic;
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 2px groove #eeede0;
}

.ldnd5e.dnd5e2.chat-card .damage-content {
  font-weight: lighter;
  text-align: center;
}

.ldnd5e.chat-card .card-buttons {
  margin: 5px 0;
}

.ldnd5e.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #CCC;
}

.ldnd5e.chat-card .card-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}

.ldnd5e.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}

.ldnd5e.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 3px 0 0;
  font-size: 10px;
}

.ldnd5e.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}

.ldnd5e .exaust-pips input {
  appearance: none;
  border: 2px solid var(--dnd5e-color-gold);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  display: grid;
  place-content: center;
  font-weight: bold;
  font-size: var(--font-size-18);
  box-shadow: 0 0 6px var(--dnd5e-shadow-45);
  margin: 0;
}

.ldnd5e .exaust-pips input:checked {
  background: var(--dnd5e-color-gold);
}

/* ----------------------------------------- */
/*  DnD5e Actor Sheets
/* ----------------------------------------- */
.dnd5e.actor.sheet .center-pane h4.company {
  text-align: center;
  border-bottom: none;
}

/* ----------------------------------------- */
/*  LDnD5e Unit Sheets
/* ----------------------------------------- */
.dnd5e.actor.sheet.actor.unit .sheet-body .ability-scores {
  flex: 0 0 100%;
}