:root {
  --ini25: #1841c7;
  --ini24-20: #1a801f;
  --ini19-15: #bedf2d;
  --ini14-10: #be9216;
  --ini9-5: #dd6413;
  --ini5: #dd1414;

  --defeated: #b32019;

  --overlay-background-color: #eeede0c7;
  --overlay-text-color: #860d07;
  --overlay-heal-text-color: #072986;
}

/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.window-app .window-content .dialog-buttons-title {
  text-align: center;
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1px;
  border: 2px groove #eeede0;
  border-radius: 2px;
  border-collapse: collapse;
}
.window-app .window-content .dialog-buttons-title div:last-child {
  border-left: 2px groove #eeede0;
  align-self: center;
}
.window-app .window-content .dialog-buttons-title .repair-click label:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  
}
.window-app .window-content .dialog-buttons-title .repair-click label:hover {
  cursor: pointer;  
}
.window-app .window-content .dialog-buttons-title .repair-click i {
  font-size: 12px;
  color: var(--color-shadow-highlight);
}
.window-app .window-content .dialog-buttons-title .repair-click i.not-smith {
  color: #7a7971; 
}
.window-app .window-content .dialog-content .confirmAR {
  font-weight: bolder;
}
.window-app .window-content .dialog-content .obsAR {
  padding-bottom: 2px;
  border-bottom: 2px groove;
  font-style: italic;
}
.window-content .tab {
  color: var(--main-text-light-color);
}

.combatant.ini25+ .token-initiative {
  color: var(--ini25);
}
.combatant.ini24-20 .token-initiative {
  color: var(--ini24-20);
}
.combatant.ini19-15 .token-initiative {
  color: var(--ini19-15);
}
.combatant.ini14-10 .token-initiative {
  color: var(--ini14-10);
}
.combatant.ini9-5 .token-initiative {
  color: var(--ini9-5);
}
.combatant.ini5- .token-initiative {
  color: var(--ini5);
}
.combatant.defeated {
  text-decoration: line-through;
}
.combatant.defeated.ini25+ .token-initiative,
.combatant.defeated.ini24-20 .token-initiative,
.combatant.defeated.ini19-15 .token-initiative,
.combatant.defeated.ini14-10 .token-initiative,
.combatant.defeated.ini9-5 .token-initiative,
.combatant.defeated.ini5- .token-initiative {
  color: var(--defeated);
}
/* ----------------------------------------- */
/*  All ldnd5e Apps                           */
/* ----------------------------------------- */
.ldnd5e {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
  /* Tags */
}
.ldnd5e .window-content {
  font-size: 13px;  
}
.ldnd5e .window-content .main-control {
  overflow: scroll;
}
.ldnd5e .window-content .reacao-agil,
.ldnd5e .window-content .pcs-list {
  flex: 100%;
}
.ldnd5e input[type="text"],
.ldnd5e input[type="number"],
.ldnd5e select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.ldnd5e input[type="text"]:hover,
.ldnd5e input[type="number"]:hover,
.ldnd5e input[type="checkbox"]:hover,
.ldnd5e input[type="text"]:focus,
.ldnd5e input[type="number"]:focus,
.ldnd5e input[type="checkbox"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.ldnd5e input:disabled,
.ldnd5e select:disabled,
.ldnd5e textarea:disabled {
  color: #4b4a44;
  border: 1px solid transparent !important;
  outline: none !important;
}
.ldnd5e input:disabled:hover,
.ldnd5e select:disabled:hover,
.ldnd5e textarea:disabled:hover,
.ldnd5e input:disabled:focus,
.ldnd5e select:disabled:focus,
.ldnd5e textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}
.ldnd5e button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.ldnd5e .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}

.repair-message p {
  font-weight: bold;
}

.ldnd5e .form-header {
  margin: 0 0 0.25em 0;
  padding: 2px 0;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.ldnd5e .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
/* ----------------------------------------- */
/*  Hit Dice Config Sheet Specifically       */
/* ----------------------------------------- */
.ldnd5e.hd-config .form-group button.increment,
.ldnd5e.hd-config .form-group button.decrement {
  flex: 0 0 1rem;
  line-height: 1rem;
}
.ldnd5e.hd-config .form-group button.decrement {
  margin-right: 0;
}
.ldnd5e.hd-config .form-group span.sep {
  margin: 0;
}
.ldnd5e.hd-config .form-group input {
  flex: 0 0 2rem;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.ldnd5e.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Notifications                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Active Effects                           */
  /* ----------------------------------------- */
}

.ldnd5e.app .window-content {
  overflow-y: hidden;
  padding: 5px;
  font-size: 13px;
  color: #191813;
}
.ldnd5e.app .window-content form {
  height: 100%;
  overflow: hidden;
}
.ldnd5e.app .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.ldnd5e.app input[type="text"],
.ldnd5e.app input[type="number"] {
  background: none;
  border: 1px solid transparent;
}
.ldnd5e.app input[type="text"]:hover,
.ldnd5e.app input[type="number"]:hover,
.ldnd5e.app input[type="text"]:focus,
.ldnd5e.app input[type="number"]:focus {
  border: 1px solid #111;
}
.ldnd5e.app select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.ldnd5e.app .editable .rollable:hover {
  cursor: pointer;
}
.ldnd5e.app .editable h4.rollable:hover,
.ldnd5e.app .editable .rollable:hover > h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}

.ldnd5e.app span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.ldnd5e.app .editor {
  height: 100%;
}
.ldnd5e.app .editor .tox-toolbar-overlord,
.ldnd5e.app .editor .tox-toolbar__primary {
  background: none;
}
.ldnd5e.app .warnings,
.ldnd5e.app .info {
  flex: 0 0 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.ldnd5e.app .warnings .notification,
.ldnd5e.app .info .notification {
  font-family: 'Signika', sans-serif;
  font-weight: normal;
  font-size: 13px;
  box-shadow: none;
  padding: 2px 8px;
  margin-bottom: 2px;
}
.ldnd5e.app .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.ldnd5e.app .sheet-header .header-details {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.ldnd5e.app .sheet-header .header-details .summary select {
  width: 100%;
  height: 100%;
  border: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-weight: 100;
}
.ldnd5e.app .app-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.ldnd5e.app .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.ldnd5e.app .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #eeede0;
}
.ldnd5e.app .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.ldnd5e.app .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.ldnd5e.app .sheet-header .summary li:last-child {
  border-right: none;
}
.ldnd5e.app .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.ldnd5e.app .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}
.ldnd5e.app .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.ldnd5e.app .sheet-body {
  flex: 1;
  overflow: hidden;
}
.ldnd5e.app .filter-list {
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  max-width: 70%;
}
.ldnd5e.app .filter-list .filter-icon {
  flex: none;
  font-size: 14px;
  color: #7a7971;
}
.ldnd5e.app .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid #b5b3a4;
  white-space: nowrap;
}
.ldnd5e.app .filter-list .filter-item:last-child {
  margin: 0;
}
.ldnd5e.app .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid #7a7971;
}
.ldnd5e.app .filter-list .filter-item.active {
  border-bottom: 3px solid #44191A;
}
.ldnd5e.app .traits {
  margin: 5px 0 0;
}
.ldnd5e.app .traits .trait-selector,
.ldnd5e.app .traits .proficiency-selector {
  flex: 0 0 16px;
  padding: 2px 0;
  color: #999;
  font-size: 10px;
}
.ldnd5e.app .traits .traits-list {
  flex: 0 0 100%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ldnd5e.app .actors-list,
.ldnd5e.app .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.ldnd5e.app .actors-list .actor-list,
.ldnd5e.app .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ldnd5e.app .actors-list .actor-name,
.ldnd5e.app .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}
.ldnd5e.app .items-list .item-name h3,
.ldnd5e.app .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.ldnd5e.app .items-list .item-name h4.item-desequip {
  color: #c9c7b8;
  text-decoration: line-through;
}
.ldnd5e.app.actor .items-list .item-name h4.item-desequip {
  color: #4b4a44;
  text-decoration: line-through;
}
.ldnd5e.app .items-list .item-controls {
  flex: 0 0 60px;
  justify-content: space-between;
}
.ldnd5e.app .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
}
.ldnd5e.app .actors-list .actor,
.ldnd5e.app .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.ldnd5e.app .actors-list .actor:last-child,
.ldnd5e.app .items-list .item:last-child {
  border-bottom: none;
}
.ldnd5e.app .actors-list .actor .actor-name,
.ldnd5e.app .items-list .item .item-name {
  color: #191813;
}
.ldnd5e.app .items-list .item .item-name .actor-portrait,
.ldnd5e.app .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.ldnd5e.app .items-list .item .item-name .item-detail.lan-value {
  border: 0;
}
.ldnd5e.app.actor .items-list .item .item-name .item-detail.lan-value {
  color: var(--main-text-light-color);
}

.ldnd5e.app .items-list .item .item-name .actor-portrait,
.ldnd5e.app .items-list .item .item-name .item-image.owner-image {
  border-radius: 50%;
}
.ldnd5e.app .actors-list .actors-header,
.ldnd5e.app .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.ldnd5e.app .actors-list .actors-header > *,
.ldnd5e.app .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.ldnd5e.app .actors-list .actors-header h3,
.ldnd5e.app .items-list .items-header h3 {
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
}
.ldnd5e.app .effects .item .effect-source,
.ldnd5e.app .effects .item .effect-duration,
.ldnd5e.app .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.ldnd5e.app .effects .item .effect-controls {
  border: none;
}
/* ----------------------------------------- */
/*  Company Control Classes                  */
/* ----------------------------------------- */
.ldnd5e.app .company-control .company-header {
  flex: 0 0 75px;
  text-align: center;
  border-bottom: none;
}
.ldnd5e.app .company-control .company-header h1.charname {  
  font-size: 3em;
}

.ldnd5e.app .unit-list ol {
  padding: 0 0 0 0.5em;
}
.ldnd5e.app .unit-list .unit-controls {
  padding: 3px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.ldnd5e.app .unit-list .unit-controls:hover{
  cursor: pointer;  
}
.ldnd5e.app .unit-list .unit-controls h3{
  flex: 100;
  text-align: center;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  border: none;
  color: #4b4a44;
  margin: 0%;
}
.ldnd5e.app .unit-list .unit-controls h3:hover{
  color: #111;
  text-shadow: 0 0 10px red;
}

.ldnd5e.app .unit-list .unit-header .unit-name {
  text-align: center;
  font-size: xxx-large;
}

.ldnd5e.app .unit-list .unit-header .hpbar {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}

.ldnd5e.app .unit-list .unit-header .header-exp {
  height: 60px;
}
.ldnd5e.app .unit-list .unit-header .header-exp .proficiency {
  margin-top: 0.7em;
}

.ldnd5e.app .unit-list .unit-abilities{
  flex: none
}
.ldnd5e.app .unit-list .unit-abilities .unit-scores{
  border: none;
}
.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability{
  border-bottom: 2px groove #eeede0;
}
.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability .unit-ability-mod{
  border-left: 2px groove #eeede0;
}
.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability .unit-ability-proficiency:hover{
  color: #b5b3a4;
  text-shadow: none;
  cursor: default;
}
.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability.proficient .unit-ability-proficiency:hover{
  color: #4b4a44;
}
.ldnd5e.app .unit-list .unit-abilities .unit-scores .unit-ability .unit-ability-save{
  border-right: 2px groove #eeede0;
}

/* ----------------------------------------- */
/*  Property Attribution                     */
/* ----------------------------------------- */
.property-attribution {
  display: none;
  position: absolute;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  color: #c9c7b8;
  text-align: left;
  z-index: 1;
}
.property-attribution table {
  margin: 0;
  border: 0;
}
.property-attribution table tr {
  background-color: inherit;
}
.property-attribution table td {
  padding: 3px;
}
.property-attribution table tr.total > td {
  font-weight: 600;
  padding-top: 5px;
  border-top: 1px solid #7a7971;
}
.property-attribution table td.attribution-value {
  width: 20%;
  padding-right: 5px;
  text-align: right;
  font-weight: 600;
}
.property-attribution table td::before {
  opacity: 0.6;
}
.property-attribution table td.mode-1::before {
  content: "×";
}
.property-attribution table td.mode-2::before {
  content: "+";
}
.property-attribution table td.mode-2.negative::before {
  content: "−";
  margin-right: -1px;
}
.property-attribution table td.mode-3::before {
  content: "↓";
}
.property-attribution table td.mode-4::before {
  content: "↑";
}
/* ----------------------------------------- */
/*  Actor Type Config Sheet Specifically     */
/* ----------------------------------------- */
.actor-type .trait-list {
  display: flex;
  flex-wrap: wrap;
}
.actor-type .trait-list li {
  flex-basis: 50%;
  flex-grow: 1;
}
.actor-type .trait-list li.form-group {
  flex-basis: 100%;
}
.actor-type label.radio {
  display: flex;
  flex: auto;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}
.actor-type label.radio > input[type="radio"] {
  margin: 0 5px 0 0;
}
.actor-type li.custom-type input[type="radio"] {
  display: none;
}
/* ----------------------------------------- */
/*  Armor Config Sheet Specifically          */
/* ----------------------------------------- */
.ldnd5e.actor-armor-config .ac-field input {
  font-size: 3em;
  text-align: center;
}
/* ----------------------------------------- */
/*  Add Feature Prompt Specifically          */
/* ----------------------------------------- */
.ldnd5e.select-items-prompt .dialog-content {
  margin-bottom: 1em;
}
.ldnd5e.select-items-prompt .items-list {
  margin-top: 0.5em;
}
.ldnd5e.select-items-prompt .item-name > label,
.ldnd5e.select-items-prompt .item-image,
.ldnd5e.select-items-prompt input {
  cursor: pointer;
}
.ldnd5e.select-items-prompt .item-name > label {
  align-items: center;
}
.ldnd5e.select-items-prompt .window-content {
  max-height: 90vh;
  overflow-y: auto;
}
.ldnd5e.app.window-app {

}
.ldnd5e.app.window-app .config-button {
  color: #4b4a44;
  right: -6px;
  top: -3px;
  font-size: 10px;
  font-weight: normal;
}
.ldnd5e.app.window-app .tab.reacao-agil,
.ldnd5e.app.window-app .tab.pcs-list {
  overflow-y: hidden;
}
.ldnd5e.app.window-app .inventory-list {
  padding: 2px 5px;
}

.ldnd5e.app.window-app.actor .inventory-list .item .item-name {
  cursor: default;
}

.ldnd5e.app.window-app .inventory-list .npc-header .npc-name,
.ldnd5e.app.window-app .inventory-list .item .item-name .ar-control,
.ldnd5e.app.window-app .tab:not(.pcs-list) .inventory-list .item .item-name .item-image,
.ldnd5e.app.window-app .inventory-list .item .item-detail.ar-control,
.ldnd5e.app.window-app .inventory-list .item .item-detail.full-repair-control,
.ldnd5e.app.window-app .inventory-list .item .item-detail.dl-control,
.ldnd5e.app.window-app .inventory-list .item .item-name .item-image.owner-image {
  cursor: pointer;
}

.ldnd5e.app.window-app .inventory-list .npc-header .npc-name:hover,
.ldnd5e.app.window-app .inventory-list .item .item-name .ar-control:hover,
.ldnd5e.app.window-app .inventory-list .item .item-detail.ar-control:hover,
.ldnd5e.app.window-app .inventory-list .item .item-detail.full-repair-control:hover,
.ldnd5e.app.window-app .inventory-list .item .item-detail.dl-control:hover {
  color: #000;
  text-shadow: 0 0 10px red;
}
.ldnd5e.app.window-app .inventory-list .item .item-detail.dl-control.half-dl {
  color: #44191A;
  font-weight: bold;
}
.ldnd5e.app.window-app .inventory-list .item .item-detail.item-desequip {
  color: #c9c7b8;
  text-decoration: line-through;
}
.ldnd5e.app.window-app.actor .inventory-list .item .item-detail.item-desequip {
  color: #4b4a44;
  text-decoration: line-through;
}
.ldnd5e.app.window-app .inventory-list .actor-detail,
.ldnd5e.app.window-app .inventory-list .item-detail {
  flex: 0 0 70px;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #c9c7b8;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}
.ldnd5e.app.window-app .inventory-list .actor-detail:last-child,
.ldnd5e.app.window-app .inventory-list .item-detail:last-child {
  border-right: none;
}
.ldnd5e.app.window-app .inventory-list .item-detail.lan-title{
  margin-right: 35px;
  border-right: 0; 
}
.ldnd5e.app.window-app .inventory-list .actor-detail.total-penalty,
.ldnd5e.app.window-app .inventory-list .item-detail.total-damage{
  font-size: 14px;
  font-weight: bolder;  
}
.ldnd5e.app.window-app .inventory-list .item-list .items-header .item-name{
  font-size: small;
  font-style: italic;
  font-variant-caps: small-caps;
  font-weight: bold;
  padding-left: 2px;
}
.ldnd5e.app.window-app .inventory-list .npc-summary {
  transition: height .5s ease;
  overflow  : hidden;
}
.ldnd5e.app.window-app .inventory-list .npc-header {
  height: 55px;
}
.ldnd5e.app.window-app .inventory-list .npc-header .npc-image{
  flex: 0 0 30px;
  height: 30px;
  width: 30px;

  background-size: 30px;
}
.ldnd5e.app.window-app .inventory-list .item-list .item-name > h5.action-label{
  margin: 0;
  color: var(--main-text-light-color);
}

.ldnd5e.app.window-app .inventory-list .action-detail {
  border-left: none;
}
.ldnd5e.app.window-app .inventory-list .action-detail {
  flex: 0 0 100px;  
  font-size: x-small;
}
.ldnd5e.app.window-app .inventory-list .action-detail {
  flex: 0 0 100px;  
  font-size: x-small;
}
.ldnd5e.app.window-app .inventory-list .item-controls {
  flex: 0 0 44px;
}
.ldnd5e.app.window-app .inventory-list .item .action-detail{
  position: relative;
  height: 30px;
  line-height: 30px;
}
.ldnd5e.app.window-app .inventory-list .item .overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--overlay-background-color);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .25s ease;
  
  padding: 0 2px;
  border-radius: 0 0 2px 2px;
  text-align: center;
  align-items: center;
  line-height: 30px;
  color: var(--overlay-text-color);
}
.ldnd5e.app.window-app .inventory-list .item .overlay.healing{
  color: var(--overlay-heal-text-color);
}
.ldnd5e.app.window-app .inventory-list .item .action-detail:hover .overlay {
  bottom: 0;
  height: 100%;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.ldnd5e.chat-card {
  font-style: normal;
  font-size: 12px;
}
.ldnd5e.chat-card .ad-card-header,
.ldnd5e.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.ldnd5e.chat-card .ad-card-header img,
.ldnd5e.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.ldnd5e.chat-card .roll-group-card-header h3,
.ldnd5e.chat-card .ad-card-header h3,
.ldnd5e.chat-card .card-header h3 {
  flex: 7;
  margin: 0;
  line-height: 36px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  color: #4b4a44;
}
.ldnd5e.chat-card .card-header h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}

.ldnd5e.chat-card .roll-group-card-header .rollNumber-display,
.ldnd5e.chat-card .ad-card-header .ac-display {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 1.4em;
  line-height: 0.8;
  height: 28px;
  margin-top: 5px;
  padding-bottom: 0.2em;
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%
}
.ldnd5e.chat-card .card-content {
  margin: 5px 0;
}
.ldnd5e.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.ldnd5e.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.ldnd5e.chat-card .damage-content {
  font-weight: 600;
  font-style: italic;
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 2px groove #eeede0;
}

.ldnd5e.chat-card .card-buttons {
  margin: 5px 0;
}
.ldnd5e.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #CCC;
}
.ldnd5e.chat-card .card-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}
.ldnd5e.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}
.ldnd5e.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 3px 0 0;
  font-size: 10px;
}
.ldnd5e.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}
/* ----------------------------------------- */
/*  DnD5e Actor Sheets
/* ----------------------------------------- */
.dnd5e.actor.sheet .center-pane h4.company{
  text-align: center;
  border-bottom: none;
}