<fieldset>
    <legend>{{ localize "ldnd5e.extraConditions" }}</legend>
<div class="form-group">
    <label>#bleed-label</label>    
    <div class="form-fields">
        <input class="condition-control bleed" title="#disableCondition" type="text" placeholder="0" data-actor-id="#actor-id" data-item-id="#item-id" value="#bleed-value">
    </div>
</div>
<div class="form-group">
    <label>#stun-label</label>    
    <div class="form-fields">
        <input class="condition-control stun" title="#disableCondition" type="text" placeholder="0" data-actor-id="#actor-id" data-item-id="#item-id" value="#stun-value">
    </div>
</div>
</fieldset>
