<section class="battle-controls">
    <section class="header">
        <button type="button" class="header-control icon fa-solid fa-xmark" data-tooltip="{{localize 'ldnd5e.battle.closeDeck'}}"
            aria-label="{{localize 'ldnd5e.battle.close'}}" data-action="toggleDeckControls">          
        </button>
        <h1 class="title">{{localize 'ldnd5e.battle.deck'}}</h1>
    </section>
    <section class="content">
        <fieldset class="tatics-hand">
            <legend>{{localize 'ldnd5e.battle.hand'}}</legend>
            <ol>
                
            </ol>
        </fieldset>
    </section>
</section>