<div class="options">
    <button class="button-dialog refresh-pcs" data-action="refreshPCs">
        <i class="fas fa-arrows-rotate"></i>
        {{localize "ldnd5e.refreshBtn"}}
    </button>
    <a class="button-dialog config-control" data-action="openConfig">        
        <i class="fas fa-gear"></i>
    </a>
</div>