<div class="dialog-buttons flexrow">
    <button class="dialog-button ok default bright" type="submit">
        <i class="fas fa-check"></i> {{ localize "ldnd5e.tatics.confirmChanges" }}
    </button>
</div>