<fieldset class="world">
    <legend>World</legend>

    <div class="form-group">
        
        <label>{{localize 'ldnd5e.battle.reset'}}</label>
        <div class="form-fields">
            <button type="button" class="reset-world" data-action="resetWorld"><i class="fas fa-arrows-rotate"></i>{{localize 'ldnd5e.resetData'}}</button>
        </div>
        <p class="hint">{{localize 'ldnd5e.battle.resetConfirm'}}</p>

    </div>

</fieldset>