<fieldset>
    <legend>World</legend>

    <div class="form-group">
        
        <label>Reset World</label>
        <div class="form-fields">
            <button type="button" class="reset-world" data-action="resetWorld"><i class="fas fa-arrows-rotate"></i>Reset World</button>
        </div>
        <p class="hint">Reset the world variables, for a fresh start.</p>

    </div>

</fieldset>