<form class="company-control flexcol"> 
    <header class="sheet-header company-header flexrow">
        <section class="header-details flexrow">
            <h1 class="charname">
                Companhia de {{owner.name}}
            </h1> 
        </section>
    </header>
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="light">{{localize 'ldnd5e.cControlLightList'}}</a>
        <a class="item" data-tab="heavy">{{localize 'ldnd5e.cControlHeavyList'}}</a>
        <a class="item" data-tab="special">{{localize 'ldnd5e.cControlSpecialList'}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab unit-list" data-group="primary" data-tab="light">
            {{> "modules/ldnd5e/templates/partials/unit-list.hbs" config=this.config unit=this.units.light}}
        </div>
        <div class="tab unit-list" data-group="primary" data-tab="heavy">
            {{> "modules/ldnd5e/templates/partials/unit-list.hbs" config=this.config unit=this.units.heavy}}
        </div>
        <div class="tab unit-list" data-group="primary" data-tab="special">    
            {{> "modules/ldnd5e/templates/partials/unit-list.hbs" config=this.config unit=this.units.special}}    
        </div>  
    </section>   
</form>
