<form class="company-control flexcol"> 
    <header class="sheet-header company-header flexrow">
        <section class="header-details flexrow">
            <h1 class="charname">
                Companhia de {{actor.name}}
            </h1> 
        </section>
    </header>
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="light-list">{{localize 'ldnd5e.cControlLightList'}}</a>
        <a class="item" data-tab="heavy-list">{{localize 'ldnd5e.cControlHeavyList'}}</a>
        <a class="item" data-tab="special-list">{{localize 'ldnd5e.cControlSpecialList'}}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab light-list" data-group="primary" data-tab="light-list">
            {{> "modules/ldnd5e/templates/partials/light.hbs" sections=this.units.light}}
        </div>
        <div class="tab heavy-list" data-group="primary" data-tab="heavy-list">
            {{> "modules/ldnd5e/templates/partials/heavy.hbs" sections=this.units.heavy}}
        </div>
        <div class="tab special-list" data-group="primary" data-tab="special-list">    
            {{> "modules/ldnd5e/templates/partials/special.hbs" sections=this.units.special}}    
        </div>  
    </section>   
</form>
