<form>
    <div class="form-group">
        <label>{{ localize "ldnd5e.dlControlItemLabel" }}</label>
        <input type="text" name="formula" value="{{item.name}}" disabled/>
    </div>
    <div class="form-group">
        <label>{{ localize "ldnd5e.dlControlDamageType" }}</label>
        <input type="text" name="bonus" value="{{ damageType }}" disabled/>
    </div>
</form>