<div class="flexcol">
    <div class="pcs-list">
        {{> "modules/ldnd5e/templates/partials/pcs-list.hbs" sections=this}}
    </div>
    <button type="submit" name="submit" value="1" class="refresh-pcs"><i class="fas fa-redo"></i> {{ localize "ldnd5e.refreshBtn"}}</button>
</div>
